body {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 550px;
  margin: 0 auto;
}

.grid-container > * {
  border: 1px solid black;
  font-size: 30px;
  padding: 30px;
}

.screen {
  grid-column: 1/4;
  background-color: lightblue;
}

.operations {
  background-color: #777;
}
.numbers {
  background-color: #3bbced;
}
