@font-face {
  font-family: digital-font;
  src: url('fonts/DS-DIGI.TTF');
}

body {
  text-align: center;
  background: linear-gradient(to right, black, seagreen);
}

button {
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
}

#calculator-grid {
  display: grid;
  min-height: 70vh;
  max-width: 500px;
  grid-template-columns: repeat(5, 1fr);
  margin: 50px auto;
  padding: 10px;
  background-color: rgb(63, 61, 61);
  border: 4px solid black;
}

#calculator-screen {
  grid-column: span 5;
  max-width: 495px;
  background-color: lightgray;
  font-size: 6em;
  text-align: right;
  font-family: digital-font;
  margin: 10px;
}

#clear-button {
  background-color: rgb(151, 60, 60);
}

.operator-button {
  background-color: slategrey;
}

#equal-button {
  background-color: seagreen;
}

#memory-recall-button,
#memory-store-button,
#memory-clear-button {
  background-color: black;
  color: blanchedalmond;
}
