body {
  text-align: center;
}

button {
  font-size: 30px;
  padding: 30px 0px;
  margin: 5px;
  cursor: pointer;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: gray;
  padding: 5px;
  border: 4px solid black;
  max-width: 550px;
  margin: 50px auto;
}

#calc-screen {
  font-size: 35px;
  text-align: right;
  color: antiquewhite;
  background-color: black;
  grid-column: span 4;
}

#clear-btn {
  grid-column: span 3;
  background-color: rgb(151, 60, 60);
}

.operation-btn {
  background-color: slategrey;
}

#decimal-btn {
  grid-column: span 2;
}

#equal-btn {
  background-color: seagreen;
}